<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Login</title>
  <link rel="stylesheet" href="/static/style.css">
</head>

<body>

  <div class="login-container">
    <h2>Admin-Login</h2>
    <form action="/admin/adminlogin" method="post" onsubmit="return validateForm()">

      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required>
      <span id="emailError" style="color: red;"></span> <!-- Placeholder for email error message -->

      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required>
      <span id="passwordError" style="color: red;"></span> <!-- Placeholder for password error message -->

      <button type="submit">Login</button>
    </form>

    <% if (errorMessages && errorMessages.length> 0) { %>
      <% errorMessages.forEach(message=> { %>
        <p style="color:red;">
          <%= message %>
        </p>
        <% }); %>
          <% } %>

    <script>
      function validateForm() {
        var emailInput = document.getElementById('email').value;
        var password = document.getElementById('password').value;
        var emailError = document.getElementById('emailError');
        var passwordError = document.getElementById('passwordError');
        var valid = true;

        // Email validation
        var emailRegex = /^[A-Za-z\._\-[0-9]+@[A-Za-z]+\.[a-z]{2,}$/;
        if (!emailRegex.test(emailInput)) {
          emailError.innerText = 'Invalid email address. Please enter a valid email.';
          valid = false;
        } else {
          emailError.innerText = ''; // Clear previous error message
        }

        // Password validation
        if (password.length < 8) {
          passwordError.innerText = 'Password must be at least 8 characters long!';
          valid = false;
        } else {
          passwordError.innerText = ''; // Clear previous error message
        }

        return valid;
      }
    </script>

  </div>

</body>

</html>
